<table  class="table">
    <thead>
      <tr>
        <th>brandName</th>
        <th>colorName</th>
        <th>modelYear</th>
        <th>Daily Price </th>
        <th>Description</th>
      </tr>
    </thead>
    <tr *ngFor="let carDetail of carDetails" routerLink="cars/cardetail/{{carDetail.id}}">

      <td>{{carDetail.brandName}}</td>
      <td>{{carDetail.colorName}}</td>
      <td>{{carDetail.modelYear}}</td>
      <td>{{carDetail.dailyPrice}}</td>
      <td>{{carDetail.description}}</td>
    </tr>
  </table>
